@()

@main("Account Head") {

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Account</h1>
    </div>
      <!-- /.col-lg-12 -->
  </div>
    <!-- /.row -->
  <div class="row" data-ng-controller="accountHeadCtrl">


    <div class="col-lg-6">
      <!-- Alert messages -->
      <div ng-repeat="alert in alerts">
        <notification ng-model="alert"></notification>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Create Head Account. {{myHeader}}
        </div>
        <div class="panel-body">
          <form role="form" id="newHeadForm" data-ng-submit="addAccountHead()">
            <div class="form-group">
              <label>Name {{newAccountHead.name}}</label>
              <input type="text" data-ng-model="newAccountHead.name" placeholder="Enter Account Head" class="form-control" required>
            </div>
            <button type="submit" data-ng-disabled="newHeadForm.$invalid" id="submit" class="btn btn-primary">Create</button>
          </form>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Head List</div>
        <div class="panel-body">
          <ul data-ng-repeat="head in accountHeads">
            <li>{{head.id}}: {{head.name}} </li>
          </ul>
        </div>
      </div>


    </div>

    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Create Sub Account
        </div>
        <div class="panel-body">
          <form role="form">
            <div class="form-group">
              <div class="form-group">
                <label>Select Head Account</label>
                <select class="form-control" >
                  <option data-ng-repeat="head in accountHeads">{{head.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Name</label>
                <input class="form-control">
              </div>
              <div class="form-group">
                <label>Phone</label>
                <input class="form-control">
              </div>
              <div class="form-group">
                <label>Address</label>
                <input class="form-control">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
          </form>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Account List</div>
        <div class="panel-body">
          <form role="form">
            <div class="form-group">
              <div class="form-group">
                <label>Select Head Account</label>
                <select class="form-control">
                  <option>Head Account 1</option>
                  <option>Head Account 2</option>
                  <option>Head Account 3</option>
                  <option>Head Account 4</option>
                  <option>Head Account 5</option>
                </select>
              </div>
            </div>

          </form>
          List of Head Accounts
        </div>
      </div>


    </div>

  </div>
    <!-- /.row -->


}