@()

@main("Journal") {
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Journal</h1>
      </div>
    </div>

    <div class="row" data-ng-controller="journalCtrl">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="form-group">
              @*<label for="datepicker">Date:  {{date | date:'dd-MM-yyyy'}}</label>*@
              <label for="datepicker">Date:  {{date}}</label>
              <input type="text" data-ng-model="journaldate"
                     id="datepicker" readonly required data-ng-change="change(journaldate)">
              <input type="text" id="alternate" size="30">
            </div>

          </div>

          <div class="panel-body">
            <div class="row">
              <div class="col-lg-6">
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th colspan="3">Debit</th>
                    </tr>
                    <tr>
                      <th>Voucher No.</th>
                      <th>Particulars</th>
                      <th>Amount</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr >
                      <td colspan="2">Total: </td>
                      <td><b>{{debitTotal}}</b></td>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr data-ng-repeat="x in debitTranList">
                      <td>{{x.transactionId}}</td>
                      <td>{{x.accountName}}</td>
                      <td>{{x.amount}}</td>
                    </tr>

                  </tbody>
                </table>

              </div>
              <div class="col-lg-6">
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th colspan="3">Credit</th>
                    </tr>
                    <tr>
                      <th>Voucher No.</th>
                      <th>Particulars</th>
                      <th>Amount</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr >
                      <td colspan="2">Total: </td>
                      <td><b>{{creditTotal}}</b></td>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr data-ng-repeat="y in creditTranList">
                      <td>{{y.transactionId}}</td>
                      <td>{{y.accountName}}</td>
                      <td>{{y.amount}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>


}