@()

@main("Stock") {
  <div class="container-fluid">
    <div class="row" data-ng-controller="stockCtrl">
      <div class="col-lg-12">
        <h1 class="page-header">Stock</h1>

          <!-- Nav tabs -->
          <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">Stock</a>
            </li>
            <li class=""><a href="#newItem" data-toggle="tab" aria-expanded="false">New Item</a>
            </li>
            <li class=""><a href="#stockTransaction" data-toggle="tab" aria-expanded="false">Stock Transaction</a>
            </li>
            <li ><a href="#stockHistory" data-toggle="tab" aria-expanded="false">Stock History</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane fade active in" id="home">
              <h4>&nbsp;</h4>
              <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Item name</th>
                    <th>Incoming</th>
                    <th>Import</th>
                    <th>total</th>
                    <th>Export</th>
                    <th>In hand</th>
                  </tr>
                </thead>

                <tbody>
                  <tr data-ng-repeat="item in stockItems">
                    <td >{{item.itemName}}</td>
                    <td align="right">{{item.initialAmount | amountInBangla}}</td>
                    <td align="right">
                      <span data-ng-if="item.importAmount == '0'">---</span>
                      <span data-ng-if="item.importAmount != '0'">{{item.importAmount | amountInBangla}}</span>
                    </td>
                    <td align="right">
                      <span data-ng-if="item.importAmount == '0'">---</span>
                      <span data-ng-if="item.importAmount != '0'">
                        {{(item.importAmount + item.initialAmount) | amountInBangla}}
                      </span>
                    </td>
                    <td align="right">
                      <span data-ng-if="item.exportAmount == '0'">---</span>
                      <span data-ng-if="item.exportAmount != '0'">
                        {{item.exportAmount | amountInBangla}}
                      </span>
                    </td>
                    <td align="right">{{(item.importAmount + item.initialAmount - item.exportAmount) | amountInBangla}}</td>
                  </tr>

                </tbody>
              </table>


            </div>



            <div class="tab-pane fade" id="newItem">
              <h4>Add New Stock Item</h4>
                <!-- Alert messages -->
              <div ng-repeat="alert in alerts">
                <notification ng-model="alert"></notification>
              </div>

              <div class="panel panel-default col-lg-6">
                <div class="panel-body">
                  <form role="form" id="newStockItemForm" data-ng-submit="addStockItem()" class="ng-pristine ng-invalid ng-invalid-required">
                    <div class="form-group">
                      <label class="ng-binding">Item Name </label>
                      <input type="text" data-ng-model="newStockItem.itemName" placeholder="Enter item name" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" required="">
                      <label class="ng-binding">Initial Amount </label>
                      <input type="number" data-ng-model="newStockItem.initialAmount" placeholder="Item initial amount" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" required="">

                    </div>
                    <button type="submit" data-ng-disabled="newStockItemForm.$invalid" id="submit" class="btn btn-primary">Create</button>
                  </form>
                </div>
              </div>
            </div>


            <div class="tab-pane fade" id="stockTransaction">
              <h4>Stock Transaction</h4>

              <div ng-repeat="alert in alerts">
                <notification ng-model="alert"></notification>
              </div>

              <div class="panel panel-default col-lg-6">

                <div class="panel-body">
                  <form role="form" id="stockTransactionForm" data-ng-submit="addStockTransaction()" class="ng-pristine ng-invalid ng-invalid-required">
                    <div class="form-group">
                      <label>Item Name: </label>
                      <select id="itemList" class="form-control" data-ng-model="stockTransaction.stockItemId">
                        <option data-ng-repeat="item in stockItems" data-total="{{item.initialAmount + item.importAmount - item.exportAmount}}" value="{{item.id}}">{{item.itemName}}</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label>Stock Transaction: </label>
                      <div class="radio">
                        <label>
                          <input type="radio" name="importExport" data-ng-model="stockTransaction.importExport" value="import">Import
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio" name="importExport" data-ng-model="stockTransaction.importExport" value="export" required>Export
                        </label>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="datepicker">Date</label>
                      <input type="text" data-ng-model="stockTransaction.date" id="datepicker" class="form-control" readonly required>
                    </div>

                    <div class="form-group">
                      <label>Amount</label>
                      <input type="number" data-ng-model="stockTransaction.amount" placeholder="Item amount" class="form-control" required>
                    </div>

                    <div class="form-group">
                      <label>Description</label>
                      <textarea data-ng-model="stockTransaction.description" class="form-control" rows="3"></textarea>
                    </div>

                    <button type="submit" data-ng-disabled="newStockItemForm.$invalid" id="submit" class="btn btn-primary">Create</button>
                  </form>
                </div>
              </div>

            </div>


            <div class="tab-pane fade" id="stockHistory">
              <h4>Stock History</h4>

              <div class="row">
                <div class="col-lg-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <div class="form-group">
                        @*<label for="datepicker">Date:  {{date | date:'dd-MM-yyyy'}}</label>*@
                        <label for="datepicker_1">Date: </label>
                        <input type="text" data-ng-model="itemHistoryDate"
                        id="datepicker_1" readonly required data-ng-change="change(itemHistoryDate)">
                        <input type="text" id="alternate" size="30">
                      </div>
                    </div>

                    <div class="panel-body">
                      <div class="row">
                        <div class="col-lg-12">
                          <table class="table table-striped table-bordered table-hover">
                            <thead>
                              <tr>
                                <th>Item name</th>
                                <th>Incoming</th>
                                <th>Import</th>
                                <th>total</th>
                                <th>Export</th>
                                <th>In hand</th>
                              </tr>
                            </thead>

                            <tbody>
                              <tr data-ng-repeat="item in historyItems">
                                <td >{{item.itemName}}</td>
                                <td align="right">{{item.initialAmount | amountInBangla}}</td>
                                <td align="right">
                                  <span data-ng-if="item.importAmount == '0'">---</span>
                                  <span data-ng-if="item.importAmount != '0'">{{item.importAmount | amountInBangla}}</span>
                                </td>
                                <td align="right">
                                  <span data-ng-if="item.importAmount == '0'">---</span>
                                  <span data-ng-if="item.importAmount != '0'">
                                    {{(item.importAmount + item.initialAmount) | amountInBangla}}
                                  </span>
                                </td>
                                <td align="right">
                                  <span data-ng-if="item.exportAmount == '0'">---</span>
                                  <span data-ng-if="item.exportAmount != '0'">
                                    {{item.exportAmount | amountInBangla}}
                                  </span>
                                </td>
                                <td align="right">{{(item.importAmount + item.initialAmount - item.exportAmount) | amountInBangla}}</td>
                              </tr>

                            </tbody>

                          </table>
                        </div>
                      </div>
                  </div>


                </div>
              </div>




                  </div>
          </div>

      </div>
        <!-- /.col-lg-12 -->

    </div>
  </div>
}