@(id: Long)

@main("Transaction View") {
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Transaction @id</h1>
      </div>
    </div>

    <div class="row" data-ng-controller="transactionCtrl">
      <div class="col-lg-12">
        Head Account: {{transaction.headName}} <br/>
        Account: {{transaction.accountName}} <br/>
        Address: {{transaction.address}}, Phone: {{transaction.phoneNumber}} <br/>
        Date: {{transaction.date.time | dateFormat}} Transaction: {{transaction.transactionType}} <br/>
        Description: {{transaction.description}} <br/>
        Amount: {{transaction.amount}}
      </div>
    </div>

  </div>

}